.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-container {
  width: 80%;
  margin: 0 auto;
}
.table-center th, .table-center td {
  text-align: center;
  margin:0 auto;
  border-spacing: 0 10px;
  padding: 10;
  border: 1px solid #ccc;
  table-layout: fixed;
  width: 30%
}

th, td {
  word-wrap: break-word;
  padding-left: 20px;
}

/* MODALS  */

.modal-table {
  text-align: center;
  margin:0 auto;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-text {
  text-align: center;
}

.Modal-Portal > div {
  background-color: rgb(243, 127, 160);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-Content {
  position: relative;
  width:60%; 
  height: 45%; 
  background: white;
  outline: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Modal-Close {
    line-height: 12px;
    width: 30px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
}

.labeler {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-top:10px;
  font-size: 20px;
}
.labeler-form {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  height:auto;
  padding: 0px;
  margin:0px;

.video-background {
  position: fixed;
  top: 25%;
  left: 0; 
  width: 100%; 
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  z-index: -1; 
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  text-align: center; 
  flex-direction: column;
} */

.login-container {
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  flex-direction: column;
  z-index: 1;
}

/* BUTTONS  & SELECTORS */

.selector {
  margin: 2px 1px;
  border-radius: 4px;
  padding: 5px;
}

.login-input,
.login-button {
  margin: 2px
}

.login-button {
  font-size: 24px;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  background: rgb(240, 183, 126);
}

.logout-button {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background: rgb(246, 120, 141);
}

.search-buttons {

  font-size: 16px;
  display: block;
  border: none;
  border-radius: 5px;
  margin: 2px auto;
  padding: 9px 10px;
  color: white;
  background: rgb(240, 183, 126);
}

/* BREEDS  */

.breeds-container {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
  padding-top: 0px;
}
.breeds-search-btn {

  font-size: 16px;
  display:flex;
  border: none;
  border-radius: 5px;
  margin: 2px 0 10px 0;

  padding: 8px 10px;
  color: white;
  background: rgb(240, 183, 126);
}

/* PAGES */

.arrow-buttons {
  border: solid;
  border-width:1px; 
  border-color: rgb(156, 198, 249);
  border-radius: 5px;
  background: rgb(251, 252, 252);
  margin: 2px;
  padding: 5px 15px;
}